@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모든 브라우저 기본 여백과 스크롤 중복 방지 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
}